<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <link href="/static/main.css" rel="stylesheet">
    <title>FPS game</title>
</head>
<body class="after">
    <!-- This is the embedded game. Press button to start. -->
    <div class="midButton">
        <a href="/game" class="button_s">Start</a>
    </div>

<script src="/static/script.js"></script>
</body>
</html>
